$regular-blue: #1178B2;
$regular-green: #07AF91;
$logo-color: #00B1E9;
$button-blue: #016CA8;
$button-light-blue: #61B5E4;
$light-grey: #F1F1F1;

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body {
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    color: black;
    font-weight: 400;
    overflow-x: hidden;
}

main {
    overflow-x: hidden;
}

.body-not-scroll {
    overflow: hidden;
}

h2 {
    color: $regular-blue;
    font-size: 36px;
    font-weight: 700;

    @media (max-width:900px) {
        text-align: center;
        font-size: 32px;
    }

    @media (max-width:500px) {
        font-size: 24px;
    }
}

.autorisation {
    position: absolute;
    visibility: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: #FFF;
    z-index: 300;
    border-radius: 5px;
    width: 320px;
    height: 273px;
    @include flex-column-center;
}

.autorisation__close {
    background: url(../image/autorisation/autorisation.svg);
    position: absolute;
    top: -26px;
    right: 0;
    width: 19px;
    height: 19px;
}

.autorisation--open {
    visibility: visible;
}

.autorisation__title {
    font-weight: 600;
    text-align: center;
    line-height: 80px;
}

.autorisation__input-box {
    @include flex-column-center;
    margin-top: -7px;
}

.autorisation__input {
    border-radius: 5px;
    background: $light-grey;
    width: 260px;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 21px;

    &::placeholder {
        background: $light-grey;
        color: #707070;
        font-size: 14px;
    }
}

.autorisation__email {}

.autorisation__password {}

.autorisation__button {
    border-radius: 5px;
    width: 260px;
    height: 40px;
    background-color: $regular-green;
}

.autorisation__register {
    display: block;
    text-decoration: underline;
    font-weight: 500;
    color: $regular-green;
    font-size: 12px;
    text-align: center;
    line-height: 12px;
    margin-top: 14px;
    margin-bottom: 38px;
}

.header {
    background: url(../image/header/header.jpg) 60% 50% / cover no-repeat;
    width: 100%;
    height: 900px;
    position: relative;

    @media (max-width:770px) {
        height: 1140px;
    }

    @media (max-width:520px) {
        height: 720px;
    }
}

.burger {
    visibility: hidden;
    display: none;
    background: url(../image/header/burger-close.svg) 50% 50% no-repeat;
    transition: all 0.2s;
    position: fixed;
    right: 20px;
    border: 1px solid $regular-green;
    z-index: 1;

    @media (max-width:760px) {
        @include flex-row-center;
        visibility: visible;
        display: block;
        width: 40px;
        height: 40px;
        background-color: white;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
        }
    }
}

.burger--open {
    background: url(../image/header/burger-open.svg) 50% 50% no-repeat;
    background-color: white;
    z-index: 30;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(30, 27, 27, 0.350);
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
}

.overlay--open {
    visibility: visible;
    opacity: 1;
}

.image-blackout {
    background-color: rgba(0, 0, 0, 0.59);
    width: 100%;
    height: 100%;
}

.wrap {
    max-width: 1216px;
    margin: 0 auto;
    padding: 0 20px;
}

.header__top {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    line-height: 80px;

    span {
        color: $logo-color;
    }

    @media (max-width:900px) {
        font-size: 20px;
    }

    @media (max-width:520px) {
        font-size: 16px;
    }
}

.menu {
    display: flex;
    gap: 50px;

    @media (max-width:900px) {
        gap: 34px;
    }
}

.header__menu-list {
    @media (max-width:760px) {
        background-color: $regular-green;
        flex-direction: column;
        position: absolute;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        right: 0;
        gap: 0;
        padding: 68px 100px;
        z-index: 20;
        transform: translateY(-100%);
        transition: all 0.3s;
    }
}

.header__menu-list--open {
    @media (max-width:760px) {
        transform: translateY(0%);
        position: fixed;
    }
}

.header__menu-item {
    @media (max-width:760px) {
        white-space: nowrap;
        width: 250px;
        text-align: center;

        &:not(:last-child) {
            border-bottom: 1px solid rgba(255, 255, 255, 0.52);
        }
    }
}

.menu__item {
    color: white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    line-height: 80px;

    @media (max-width:910px) {
        font-size: 16px;
    }
}

.button {
    display: block;
    color: #FFF;
    font-weight: 500;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    }
}

.button--gradient-blue {
    background: linear-gradient(321deg, $button-blue 0%, $button-light-blue 100%);

    &:hover {
        background: linear-gradient(321deg, $button-blue 0%, $button-blue 100%);
    }
}

.header__body {
    max-width: 780px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 30%;

    @media (max-width: 768px) {
        left: 0px;
        padding: 0 30px;
        right: 0;
    }

    @media (max-width: 500px) {
        gap: 32px;
        top: 25%;
    }
}

.header__body-title {
    color: #FFF;
    font-size: 43px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 60px;
    white-space: nowrap;

    span {
        background-color: $regular-green;
        padding: 0 11px;
        border-radius: 3px;
        margin-left: -11px;
    }

    .header__body-title-hidden {
        padding: 0;
        margin: 0;
    }

    @media (max-width:800px) {
        font-size: 36px;
        white-space: normal;
    }

    @media (max-width:768px) {
        text-align: center;

        .header__body-title-hidden {
            visibility: hidden;
            display: none;
        }
    }

    @media (max-width:520px) {
        font-size: 24px;
        line-height: 40px;
        margin: 0 -13px;
    }
}

.header__body-text {
    color: white;
    font-size: 34px;
    font-weight: 300;
    line-height: 80px;

    @media (max-width:800px) {
        font-size: 18px;
    }

    @media (max-width:768px) {
        text-align: center;
    }

    @media (max-width:520px) {
        font-size: 16px;
        line-height: 31px;
    }
}

.header__top-button-box {
    display: flex;
    gap: 10px;
    align-items: center;

    @media (max-width:760px) {
        margin-right: 50px;
    }
}

.header__top-button {
    width: 150px;
    height: 55px;
    font-size: 18px;

    @media (max-width:900px) {
        border-radius: 5px;
        font-size: 16px;
        width: 109px;
        height: 46px;
    }

    @media (max-width: 760px) {
        width: 88px;
        height: 40px;
        font-size: 14px;
    }
}

.header__body-text--desktop {
    @media (max-width:768px) {
        visibility: hidden;
        display: none;
    }
}

.header__body-text--mobile {
    visibility: hidden;
    display: none;
    white-space: nowrap;

    @media (max-width:768px) {
        visibility: visible;
        display: inline;
        text-align: center;
    }
}

.header__body-text--decoration {
    line-height: 30px;
    border-radius: 3px;
    background-color: #FFF;
    width: 102px;
    color: $regular-green;
    padding: 0 5px;
    font-weight: bold;
    padding: 5px;
}

.header__body-button-box {
    display: flex;

    @media (max-width:768px) {
        justify-content: center;
    }
}

.header__body-button {
    width: 219px;
    height: 80px;
    font-size: 20px;
    font-weight: 600;

    @media (max-width:768px) {
        font-size: 18px;
        width: 235px;
        height: 71px;
    }

    @media (max-width:520px) {
        width: 235px;
        height: 55px;
        font-size: 16px;
    }
}

.button--green {
    background: $regular-green;
}

.first-section {}

.white-section {
    background-color: white;
}

.services {}

.first-section__services {
    margin-top: 89px;
}

.services__title {
    margin-bottom: 110px;

    @media (max-width:900px) {
        margin-bottom: 30px;
    }
}

.services__block {}

.services__block-content {
    max-width: 674px;

    @media (max-width:900px) {
        @include flex-column-center()
    }
}

h3 {
    color: $regular-blue;
    white-space: nowrap;
    font-size: 24px;
    font-family: Inter;
    font-weight: 600;

    @media (max-width:900px) {
        font-size: 18px;
    }

    @media (max-width:500px) {
        font-size: 16px;
    }
}

.services__subtitle {
    line-height: 80px;
}

.regular-text {
    font-size: 20px;
    font-weight: 300;
    line-height: 150%;

    @media (max-width:900px) {
        font-size: 16px;
        text-align: center;
    }

    @media (max-width:900px) {
        font-size: 14px;
    }
}

.services__text {
    margin-bottom: 20px;
}

.services__block-analytics {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    margin-bottom: 184px;
    align-items: center;

    @media (max-width:900px) {
        @include flex-column-center();
        margin-bottom: 50px;
        gap: 20px;

        .services__block-content {
            order: 2;
        }

        .services__block-image {
            order: 1;
        }
    }
}

.services__block-online {
    display: flex;
    gap: 30px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;

    .services__block-content {
        max-width: 604px;
    }

    @media (max-width:900px) {
        @include flex-column-center();
    }
}

.button--green {}

.services__button {
    width: 326px;
    height: 70px;
    font-size: 18px;

    @media (max-width:500px) {
        font-size: 16px;
        max-width: 320px;
        width: 100%;
        height: 50px;
    }
}

.services__block-image {
    @media (max-width:900px) {
        img {
            width: 386px;
            height: auto;
        }
    }

    @media (max-width:500px) {
        img {
            width: 274px;
        }
    }
}

.customers {}

.first-section__customers {
    margin-bottom: 100px;
}

.customers__title {
    margin-bottom: 35px;
}

.table-box {
    display: grid;
    gap: 20px;

    @media (max-width:590px) {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.customers__block {
    grid-template: repeat(1, auto) / repeat(3, 1fr);

    @media (max-width:1150px) {
        grid-template: repeat(2, auto) / repeat(2, minmax(250px, 1fr));
    }
}

.table-item {
    @include flex-column-center;
    border-radius: 10px;
    background: white;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.09);
}

.customers__block-item {
    padding: 70px 25px 25px 30px;

    @media (max-width:1150px) {
        &:nth-child(3) {
            .customers__item-subtitle {
                width: 396px;
            }

            grid-column: span 2;
        }
    }

    @media (max-width:590px) {
        &:nth-child(3) {
            .customers__item-subtitle {
                width: auto;
            }
        }
    }
}

.table-number {
    color: rgba(17, 120, 178, 0.50);
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: 25%;
    margin-bottom: 40px;

    @media (max-width:760px) {
        font-size: 64px;
        line-height: 20px;
    }
}

.customers__item-number {}

.table-title {
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 15px;
    white-space: nowrap;

    @media (max-width:760px) {
        font-size: 14px;
    }
}

.customers__item-title {}

.table-text {
    text-align: center;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;

    @media (max-width:900px) {
        font-size: 14px;
    }
}

.customers__item-subtitle {}

.second-section {
    //position: relative;
    width: 100%;
    height: 604px;
    background: url(../image/consultation/consultation.jpg) 60% 50% / cover no-repeat;

    @media (max-width:900px) {
        height: 730px;
    }

    @media (max-width:500px) {
        height: 604px;
    }
}

.second-section__background {}

.consultations {
    height: 100%;
    @include flex-column-center();
}

.second-section__consultations {}

.consultations__title-box {
    text-align: center;
    padding: 0 30px;
}

.consultations__title {
    color: white;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    max-width: 1393px;
    padding: 10px;
    background-color: $regular-green;
    border-radius: 3px;
    text-transform: uppercase;

    @media (max-width:1440px) {
        display: inline;
        width: 100%;
        align-content: center;
        line-height: 52px;
        font-size: 36px;
        margin: 0;
    }

    @media (max-width:500px) {
        font-size: 24px;
        line-height: 35px;
    }

    @media (max-width:360px) {
        font-size: 20px;
    }
}


.consultations__subtitle {
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 60px;
    margin: 0 -47px 0 -77px;
    padding: 0 38px;

    @media (max-width:1400px) {
        margin: 28px 0 0;
        line-height: 30.5px;
    }

    @media (max-width:900px) {
        font-size: 16px;
    }

    @media (max-width:500px) {
        font-size: 14px;
        line-height: 20px;
    }
}

.consultations__button-box {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.consultations__button {
    width: 341px;
    height: 80px;
    font-size: 20px;
    font-weight: 600;
    line-height: 80px;

    @media (max-width:900px) {
        width: 310px;
        font-size: 18px;
    }

    @media (max-width:500px) {
        width: 277px;
        height: 55px;
        line-height: 55px;
        font-size: 16px;
    }
}

.third-section {}

.wrap {}

.markets {}

.third-section__markets {
    margin-top: 100px;
}

.markets__title {
    margin-bottom: 35px;
}

.markets__body {}

.markets__country-box {}

.markets__countries {
    display: flex;
}

.markets__country {
    color: #484848;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    line-height: 60px;
    border-radius: 5px;
    background: #EEF1F4;
    width: 304px;
    height: 70px;
    font-size: 20px;
    cursor: pointer;
    border-right: 1px solid #CFDDEB;
    transition: all 0.3s;
    text-align: center;

    br {
        display: none;
    }

    &:last-child {
        border-right: none;
    }

    @media (max-width:1000px) {
        font-size: 16px;
    }

    @media (max-width:850px) {
        font-size: 14px;
        line-height: 20px;

        br {
            display: inline;
        }
    }

    @media (max-width:500px) {
        font-size: 11px;
    }
}

.markets__country--active {
    color: white;
    font-size: 20px;
    font-weight: 700;
    background: #88BBD8;
    width: 304px;
    height: 70px;
    transition: all 0.3s;
    text-align: center;

    @media (max-width:1000px) {
        font-size: 16px;
    }

    @media (max-width:850px) {
        font-size: 14px;
    }

    @media (max-width:500px) {
        font-size: 11px;
    }
}

.markets__map-box {
    margin-top: 56px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    gap: 62px;
    max-width: 1060px;
    visibility: hidden;
    display: none;
    background-size: contain;

    @media (max-width:1000px) {
        margin-top: 45px;
    }

    @media (max-width:750px) {
        gap: 15px;
    }

    @media (max-width:670px) {
        margin-top: 19px;
    }
}

.markets__map-box--active {
    visibility: visible;
    display: flex;

    @media (max-width:670px) {
        display: block;
    }
}

.markets__map-info {
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 4px;
    margin-bottom: 20px;

    @media (max-width:1000px) {
        gap: 20px;
    }

    @media (max-width:670px) {
        gap: 15px;
    }
}

.markets__map-box--east {
    background-image: url(../image/markets/map-svg.svg);
}

.markets__map-box--asia {
    background-image: url(../image/markets/map_asia.png);
}

.markets__map-box--america {
    background-image: url(../image/markets/map_lat.png);
}

.markets__map-box--africa {
    background-image: url(../image/markets/map_afr.png);
}

.markets__map-title {
    font-size: 32px;
    font-weight: 600;
    line-height: 41px;
    text-transform: uppercase;

    span {
        display: block;
        margin-top: 5px;
        font-weight: 700;
        color: $regular-green;
    }

    @media (max-width:950px) {
        font-size: 24px;
    }

    @media (max-width:670px) {
        font-size: 18px;

        br {
            display: none;
        }

        span {
            display: inline-block;
            margin-left: 10px;
            margin-top: 0px;
        }
    }

    @media (max-width:500px) {
        span {
            display: block;
            margin-left: 0px;
        }

        line-height: 24.5px;
    }
}

.markets__map-text {
    line-height: 25px;

    @media (max-width:1000px) {
        font-size: 14px;
    }

    @media (max-width:670px) {
        br {
            display: none;
        }

        max-width: 70%;
    }

    @media (max-width:500px) {
        max-width: 236px;
    }
}

.markets__map-button-box {}

.markets__map-button {
    width: 252px;
    height: 70px;
    font-size: 18px;
    font-weight: 600;
    line-height: 70px;

    @media (max-width:670px) {
        font-size: 16px;
        line-height: 30px;
        height: 55px;
    }

    @media (max-width:500px) {
        visibility: hidden;
        display: none;
    }
}

.markets__map-button--end {
    visibility: hidden;
    display: none;

    @media (max-width:500px) {
        visibility: visible;
        display: block;
        margin-top: 12px;
        width: 100%;
    }
}

.markets__map-manager-box {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 15px;

    @media (max-width:500px) {
        margin-top: 0px;
    }
}

.markets__map-manager-photo {

    @media (max-width:670px) {
        img {
            width: 45px;
            height: 45px;
        }
    }
}

.markets__map-manager-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.markets__map-manager-name {
    font-size: 16px;
    font-weight: 500;

    @media (max-width:670px) {
        font-size: 12px;
    }
}

.markets__map-manager-position {
    color: #727272;
    font-size: 14px;

    @media (max-width:670px) {
        font-size: 10px;
    }
}

.markets__map-table-box {
    @media (max-width:1000px) {
        margin-top: 24px;
    }
}

.markets__map-table {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    min-width: 598px;
    margin: 0 auto;
    gap: 20px;

    @media (max-width:1000px) {
        min-width: 0;
    }

    @media (max-width:900px) {
        gap: 10px;
    }

    @media (max-width:670px) {
        gap: 20px;
    }
}

.markets__map-item {
    @include flex-column-center();
    gap: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.09);
    transition: all 0.3s;
    padding: 10px;

    a {
        @include flex-column-center();
        gap: 25px;
    }

    @media (max-width:950px) {
        gap: 15px;

        a {
            gap: 15px;
        }
    }
}

.markets__map-item-link {
    display: block;
}

.markets__map-item--white {
    background-color: white;
}

.markets__map-item-number {
    @include flex-row-center();
    gap: 7px;
}

.markets__map-item-number-n,
.markets__map-item-number-text {
    color: rgba(17, 120, 178, 0.50);
    font-weight: 800;
    line-height: 20px;
    font-size: 48px;
}

.markets__map-item-number-n {
    font-size: 48px;

    @media (max-width:950px) {
        font-size: 36px;
    }

    @media (max-width:500px) {
        font-size: 24px;
    }
}

.markets__map-item-number-text {
    font-size: 24px;

    @media (max-width:950px) {
        font-size: 20px;
    }

    @media (max-width:500px) {
        font-size: 16px;
    }
}

.markets__map-item-text {
    color: rgba(16, 16, 16, 0.50);
    line-height: 20px;
    text-align: center;

    @media (max-width:950px) {
        font-size: 14px;
    }

    @media (max-width:760px) {
        font-size: 12px;
    }
}

.markets__map-item-blue {
    background-color: $regular-blue;
    cursor: pointer;

    &:hover {
        background-color: $regular-green;
    }
}

.markets__map-item-icon {}

.markets__map-item-text--white {
    color: white;
}

.common-info {}

.third-section__common-info {
    margin-top: 100px;
    margin-bottom: 20px;
}

.common-info__title {
    margin-bottom: 15px;
}

.common-info__text {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;

    @media (max-width:900px) {
        text-align: center;
        font-size: 16px;
    }

    @media (max-width:500px) {
        font-size: 14px;
    }
}

.common-info__box {
    display: grid;
    grid-template: repeat(1, 1fr)/repeat(3, 1fr);
    height: 284px;
    gap: 20px;
    margin-top: 20px;

    @media (max-width:750px) {
        height: 30vw;
        gap: 10px;
    }

    @media (max-width:670px) {
        grid-template: repeat(3, 1fr)/repeat(1, 1fr);
        height: 560px;
    }

    @media (max-width:500px) {
        height: 450px;
    }
}

.common-info__item {
    @include flex-column-center();
    background-color: white;
    border-radius: 10px;
    height: 100%;
    gap: 20px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.09);
    padding: 5px;

    @media (max-width:670px) {
        flex-direction: row;
        padding-left: 10%;
        padding-right: 5px;
        justify-content: start;
        gap: 20px;
    }

    @media (max-width:360px) {
        padding-left: 10%;
        padding-right: 10%;
        gap: 20px;
        justify-content: space-around;
    }
}

.common-info__item-number {
    font-family: Inter;
    font-weight: 800;
    color: transparent;
    font-size: 120px;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(157deg, #8BD7DC 0%, #1246A9 100%);
    line-height: 90px;
    background-size: 3em;

    @media (max-width:1000px) {
        font-size: 90px;
        line-height: 70px;
    }

    @media (max-width:500px) {
        font-size: 60px;
        line-height: 45px;
    }
}

.common-info__item-text {
    color: #232323;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;

    br {
        display: none;
    }

    @media (max-width:1000px) {
        text-align: center;
        font-size: 16px;
    }

    @media (max-width:830px) {
        br {
            display: inline-block;
        }
    }

    @media (max-width:670px) {
        br {
            display: none;
        }
    }

    @media (max-width:500px) {
        font-size: 14px;
    }

    @media (max-width:360px) {
        br {
            display: inline-block;
        }
    }
}

.common-info__item-icon img {
    height: 90px;

    @media (max-width:1000px) {
        height: 68px;
    }

    @media (max-width:500px) {
        height: 45px;
    }
}

.video {
    position: relative;
}

.third-section__video {
    height: auto;
}

.video__box {
    position: relative;
    width: 100%;
    padding-top: 56.24%;
    visibility: hidden;
    display: none;
}

.video__box iframe {
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video__box--visible {
    visibility: inherit;
    display: flex;
}

.video__box-black {
    background-color: #0F0F0F;
    color: white;
    width: 100%;
    padding-top: 56.24%;
    position: relative;
    border-radius: 10px;
    visibility: hidden;
    display: none;
}

.video__box-black--visibile {
    visibility: inherit;
    display: flex;

    @media (max-width:630px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        gap: 20px;
        line-height: 0;
        padding: 20% 40px 20%;
    }
}

.video__box-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 60px;

    @media (max-width:1000px) {
        font-size: 18px;
        line-height: 28px;
    }

    @media (max-width:730px) {
        font-size: 16px;
        text-align: center;
    }

    @media (max-width:630px) {
        position: relative;
        transform: none;
        top: 0;
        left: 0;
    }
}

.video__box-button-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

    img {
        cursor: pointer;
    }

    @media (max-width:1000px) {
        img {
            height: 89px;
            width: 89px;
        }
    }

    @media (max-width:730px) {
        img {
            width: 63px;
            height: 63px;
        }
    }

    @media (max-width:630px) {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }
}

.program {}

.third-section__program {}

.program__title {
    margin-top: 100px;
    margin-bottom: 20px;
    //line-height: 80px;
}

.program__accordion {}

.program__accordion-item {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.09);
    margin-bottom: 20px;

    @media (max-width:600px) {
        //height: 93px;
    }
}

.program__accordion-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px 31px 10px 50px;
    gap: 15px;

    @media (max-width:1000px) {
        padding: 3% 31px 3% 50px;
    }

    @media (max-width:600px) {
        gap: 22px;
        flex-direction: column;
        text-align: center;
        padding: 16px 15px 0;

        &:last-child {
            padding-bottom: 16px;
        }
    }
}

.program__accordion-title-box {
    display: flex;
    align-items: center;
    gap: 15px;

    @media (max-width:600px) {
        flex-direction: column;
        padding: 0;
    }
}

.program__accordion-title-number {
    color: #2A79C2;
    font-size: 20px;
    font-weight: 700;
    line-height: 60px;
    flex-shrink: 0;

    @media (max-width:1000px) {
        font-size: 16px;
        line-height: 16px;
    }

    @media (max-width:500px) {
        font-size: 12px;
    }
}

.program__accordion-title-text {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;

    @media (max-width:1000px) {
        font-size: 16px;
        line-height: 16px;
    }

    @media (max-width:500px) {
        font-size: 12px;
    }
}

.program__accordion-title-arrow {
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background-color: #2A79C2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    transform: rotate(-180deg);
    flex-shrink: 0;

    @media (max-width:1000px) {
        width: 30px;
        height: 30px
    }

    @media (max-width:600px) {
        width: 24px;
        height: 24px;
        margin-bottom: -12px;
    }
}

.program__accordion-title-arrow--active {
    transition: all 0.3s;
    transform: rotate(0deg);
}

.program__accordion-topic {
    color: #555;
    line-height: 60px;
    border-top: 1px solid #E9E9E9;
    padding: 5px 70px 5px 50px;

    @media (max-width:1000px) {
        font-size: 14px;
        line-height: 14px;
        padding: 3% 70px 3% 50px;
    }

    @media (max-width:600px) {
        font-size: 12px;
        padding: 4% 15px 4% 30px;
    }

    @media (max-width:500px) {
        padding: 5% 15px 5% 30px;
    }
}

.program__accordion-link {
    color: #2A79C2;
    cursor: pointer;
    line-height: 60px;
    border-top: 1px solid #E9E9E9;
    padding: 5px 70px 5px 50px;

    @media (max-width:1000px) {
        font-size: 14px;
        line-height: 14px;
        padding: 3% 70px 3% 50px;
    }

    @media (max-width:600px) {
        font-size: 12px;
        padding: 4% 15px 4% 30px;
    }

    @media (max-width:500px) {
        display: none;
        border: none;
    }
}

.program__accordion-content {
    transition: 0.3s ease-in-out;
    overflow: hidden;
    max-height: 0;
}

.program__accordion-content--active {}

.program__button {
    width: 377px;
    height: 80px;
    font-size: 18px;
    font-weight: 600;
    line-height: 80px;

    @media (max-width:800px) {
        display: none;
        visibility: hidden;
    }
}

.investors {
    width: 100%;
    height: 500px;
    background: url(../image/all/white-background.svg) repeat, linear-gradient(138deg, #1973FA -12.19%, #75ACFD 92.47%);

    @media (max-width:880px) {
        height: 1000px;
    }

    @media (max-width:500px) {
        height: 750px;
    }
}

.fourth-section__investors {
    margin-top: 100px;
}

.investors__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 30px;

    @media (max-width:880px) {
        flex-direction: column;
        gap: 54px;
        justify-content: center;
    }

    @media (max-width:500px) {
        gap: 32px;
    }
}

.investors__body {
    max-width: 556px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (max-width:1000px) {
        align-items: center;
    }
}

.investors__title {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;

    @media (max-width:1000px) {
        text-align: center;
        font-size: 32px;
        line-height: 50px;
    }

    @media (max-width:600px) {
        font-size: 24px;
        line-height: 40px;
    }
}

.investors__subtitle {
    color: #FFF;
    font-size: 18px;
    line-height: 30px;

    @media (max-width:1000px) {
        text-align: center;
    }

    @media (max-width:600px) {
        font-size: 14px;
    }
}

.investors__button {
    width: 326px;
    height: 70px;
    flex-shrink: 0;
    font-size: 18px;

    @media (max-width:600px) {
        font-size: 16px;
    }

    @media (max-width:500px) {
        width: 88vw;
        height: 55px;
    }
}

.investors__table {
    position: relative;
    z-index: 0;

    &::before {
        position: absolute;
        z-index: -1;
        top: 34px;
        left: 171px;
        content: url(../image/all/dots.svg);
    }

    @media (max-width:700px) {
        &::before {
            display: none;
        }
    }

    @media (max-width:500px) {
        &::before {
            display: block;
            position: absolute;
            z-index: -1;
            top: 88px;
            left: -4%;
            content: url(../image/all/dots.svg);
            scale: 0.7;
        }
    }
}

.investors {
    position: relative;
    z-index: 0;

    &::before {
        display: none;
    }

    @media (max-width:700px) {
        &::before {
            display: block;
            position: absolute;
            z-index: -1;
            bottom: 7%;
            right: 5%;
            content: url(../image/all/dots.svg);
        }
    }

    @media (max-width:500px) {
        &::before {
            display: none;
        }
    }
}

.investors__table-list {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    gap: 20px;
}

.investors__table-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    width: 206px;
    height: 112px;
    flex-shrink: 0;

    @media (max-width:500px) {
        width: 122px;
        height: 66px;
        flex-shrink: 0;

        img {
            width: 90px;
            height: 50px;
        }
    }
}

.fifth-section {}

.result {}

.fifth-section__result {
    margin-top: 100px;
}

.result__title {}

.result__table-box {
    margin-top: 40px;
}

.result__table {
    grid-template: repeat(2, minmax(280px, 1fr)) / repeat(3, 1fr);

    @media (max-width:750px) {
        grid-template: repeat(6, 1fr) / repeat(1, 1fr);
        gap: 10px;
    }
}

.result__table-item {
    padding: 40px 15px 0px 15px;

    @media (max-width:750px) {
        padding: 40px 40px 40px 40px;
    }

    @media (max-width:320px) {
        padding: 40px 20px 40px 20px;
    }
}

.result__table-number {
    @media (max-width:1000px) {
        font-size: 64px;
        line-height: 20px;
    }

    @media (max-width:750px) {
        font-size: 48px;
        font-weight: 800;
        margin-bottom: 10px;
    }
}

.result__table-title {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 10px;

    @media (max-width:1000px) {
        font-size: 14px;
    }

    @media (max-width:750px) {
        margin-bottom: 0px;
    }
}

.result__table-text {
    min-height: 100px;

    @media (max-width:1000px) {
        font-size: 14px;
        line-height: 20px;
    }

    @media (max-width:750px) {
        min-height: 0px;
        font-size: 12px;
        font-weight: 300;
    }
}

.fifth-section__price {
    margin-top: 100px;
}

.price {}

.price__title {}

.price__table {
    margin-top: 35px;
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(3, 1fr);
    gap: 20px;

    @media (max-width:860px) {
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    }

    @media (max-width:680px) {
        grid-template: repeat(3, 1fr) / repeat(1, 1fr);
    }
}

.prive__table-item {
    //flex-shrink: 0;
    //display: flex;
    //justify-content: space-between;
    //flex-direction: column;
    border-radius: 10px;
    background: #FFF;
    padding: 32px 40px 30px 40px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.09);

    @media (max-width:1180px) {
        padding: 20px 30px 20px 30px;
    }
}

.prive__table-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 17px;
    margin-bottom: 28px;

    @media (max-width:1000px) {
        margin-bottom: 15px;
        gap: 25px;
    }

    @media (max-width:860px) {
        gap: 10px;
        margin-bottom: 20px;
    }

    @media (max-width:680px) {
        flex-direction: row;
        gap: 15px;
        align-items: center;
        margin-right: -10px;
        margin-left: -10px;
    }
}

.price__table-image {
    img {
        width: 67px;
        height: 76px;

        @media (max-width:680px) {
            width: 59px;
            height: 72px;
        }
    }
}

.price__table-title {
    color: #1B1B1B;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;

    @media (max-width:1180px) {
        font-size: 18px;
        min-height: 50px;
    }

    @media (max-width:1000px) {
        min-height: 75px;
    }

    @media (max-width:860px) {
        min-height: 50px;
    }

    @media (max-width:680px) {
        text-align: start;
        font-size: 16px;
        min-height: 0px;
    }
}

.price__table-list {
    //border-top: 1px solid #E9E9E9;
    //margin-bottom: 46px;
    min-height: 270px;
    //max-height: 281px;

    @media (max-width:1010px) {
        min-height: 305px;
    }

    @media (max-width:860px) {
        min-height: 260px;
    }

    @media (max-width:680px) {
        min-height: 240px;
    }
}

.price__table-list--short {
    //margin-bottom: 11px;
}

.price__table-subtitle {
    font-size: 18px;
    font-weight: 500;
    line-height: 60px;

    @media (max-width:1180px) {
        font-size: 16px;
    }

    @media (max-width:960px) {
        line-height: 25px;
        margin: 15px 0 15px 0;
    }

    @media (max-width:680px) {
        font-size: 14px;
    }
}

.price__table-point {
    line-height: 35px;

    @media (max-width:1180px) {
        font-size: 14px;
        line-height: 35px;
    }

    @media (max-width:860px) {
        line-height: 30px;
    }

    @media (max-width:680px) {
        line-height: 35px;
    }

    @media (max-width:680px) {
        font-size: 12px;
        line-height: 30px;
    }
}

.price__table-footer {
    //border-top: 1px solid #E9E9E9;
    border-width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.table-line {
    height: 1px;
    background-color: #E9E9E9;
    margin: 0 -40px 0 -40px;

    @media (max-width:1180px) {
        margin: 0px -30px 0 -30px;
    }
}

.price__table-ready-left {
    font-size: 18px;
    font-weight: 500;
    line-height: 60px;

    @media (max-width:1180px) {
        font-size: 16px;
    }

    @media (max-width:680px) {
        font-size: 14px;
    }
}

.price__table-ready-right {
    line-height: 60px;

    @media (max-width:1180px) {
        font-size: 14px;
    }

    @media (max-width:680px) {
        font-size: 12px;
    }
}

.price__table-price {
    color: var(--1178-b-2, #1178B2);
    font-size: 18px;
    font-weight: 700;
    line-height: 60px;

    @media (max-width:1180px) {
        font-size: 16px;
    }

    @media (max-width:680px) {
        font-size: 14px;
    }
}

.price__button {
    width: 100%;
    height: 100%;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 60px;

    @media (max-width:680px) {
        font-size: 16px;
    }
}

.about {}

.fifth-section__about {}

.about__title {
    margin-top: 100px;
}

.about__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 35px;

    @media (max-width:900px) {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    @media (max-width:900px) {
        flex-direction: column;
        align-items: center;
        gap: 25px;
        margin-top: 20px;
    }
}

.about__image {
    margin-right: 20px;

    img {
        width: 100%;
    }

    @media (max-width:900px) {
        max-width: 345px;
        margin-right: 0;
    }
}

.about__body {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 565px;

    @media (max-width:1100px) {
        gap: 20px;
        max-width: 500px;
    }

    @media (max-width:1000px) {
        gap: 20px;
        max-width: 400px;
    }

    @media (max-width:900px) {
        max-width: 700px;
        text-align: center;
    }

    @media (max-width:900px) {
        gap: 10px;
    }
}

.about__text {
    display: block;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;

    span {
        color: var(--1178-b-2, #1178B2);
        font-weight: 600;
    }

    @media (max-width:1100px) {
        font-size: 18px;
    }

    @media (max-width:500px) {
        font-size: 14px;
    }
}

.founder {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.09);
}

.founder__box {
    display: grid;
    grid-template: repeat(1, 1fr)/repeat(2, 1fr);
    align-items: center;
    gap: 20px;
    padding: 0 20px 0 0;

    @media (max-width:900px) {
        grid-template: repeat(2, auto)/repeat(1, auto);
        padding: 0;
        position: relative;
        gap: 38px;
    }

    @media (max-width:700px) {
        position: static;
    }
}

.founder__image {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 100%;
        height: 100%;
    }

    @media (max-width:900px) {
        order: 2;
        margin: 0 auto;
        height: 400px;
    }

    @media (max-width:700px) {
        height: 263px;
    }
}

.founder__body {
    max-width: 608px;
    display: flex;
    flex-direction: column;
    gap: 47px;
    margin: 44px 0 44px 0;

    @media (max-width:900px) {
        max-width: 650px;
        margin: 0 auto;
        padding: 40px 30px 0 30px;
        align-items: center;
        justify-content: center;
    }

    @media (max-width:700px) {
        position: relative;
    }
}

.founder__text {
    font-style: italic;
    line-height: 26px;

    @media (max-width:900px) {
        text-align: center;
    }

    @media (max-width:750px) {
        font-size: 14px;
    }

    @media (max-width:500px) {
        font-size: 12px;
        text-align: left;
    }
}

.founder__info {
    font-style: italic;
    font-size: 14px;
    line-height: 25px;

    @media (max-width:900px) {
        position: absolute;
        bottom: 37px;
        left: 30px;
        font-size: 12px;
        line-height: 20px;
    }

    @media (max-width:750px) {
        font-size: 10px;
    }

    @media (max-width:700px) {
        font-size: 10px;
        top: 110%;
        right: 30px;
        left: auto;
    }

    @media (max-width:400px) {
        right: 10px;
    }
}

.founder__name {
    font-weight: 600;
}

.founder__post {
    font-weight: 300;

    br {
        display: none;
    }

    @media (max-width:480px) {
        br {
            display: block;
        }
    }
}

.fifth-section__founder {
    margin-top: 125px;
}

.fifth-section__gallery {
    margin-top: 100px;
}

.gallery {
    overflow: hidden;
}

.gallery__list .swiper-slide {
    width: 228px;

    img {
        border-radius: 10px;
        width: 100%;
    }
}

.sixth-section {
    //height: 500px;
}

.experts {
    overflow: hidden;
}

.fifth-section__experts {
    margin-top: 100px;
}

.experts__title {
    margin-bottom: 25px;

    @media (max-width:400px) {
        margin-bottom: 50px;
    }
}

.swiper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.experts__body {
    overflow: hidden;
    margin: 0 55px;

    @media (max-width:400px) {
        margin: 0;
    }
}

.swiper-button-next,
.swiper-button-prev {
    background: url(../image/program/arrow.svg) no-repeat;
    background-position: center;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background-color: #2A79C2;

    &::after {
        content: '';
    }

    @media (max-width:500px) {
        width: 30px;
        height: 30px;
    }
}

.swiper-button-next {
    transform: rotate(90deg);
}

.swiper-button-prev {
    transform: rotate(-90deg);
}

.experts__list {}

.experts__item {
    @include flex-column-center();
}

.experts__photo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    @media (max-width:500px) {
        width: 150px;
        height: 150px;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.experts__name {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 10px;

    @media (max-width:500px) {
        font-size: 16px;
    }
}

.experts__post {
    width: 230px;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;

    @media (max-width:500px) {
        font-size: 12px;
    }
}

.partners {}

.fifth-section__partners {
    margin-top: 100px;
}

.partners__title {
    margin-bottom: 20px;
}

.partners__box {}

.partners__list {
    display: grid;
    grid-template: repeat(2, auto)/repeat(4, minmax(150px, 1fr));
    gap: 20px;

    @media (max-width:900px) {
        gap: 15px;
    }

    @media (max-width:800px) {
        grid-template: repeat(4, auto)/repeat(2, 1fr);
    }

    @media (max-width:430px) {
        grid-template: repeat(4, max(54px))/repeat(2, 1fr);
    }
}

.partners__item {
    height: 100px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.09);
    @include flex-row-center();
    padding: 5px;

    @media (max-width:1050px) {
        img {
            max-width: 164px;
        }
    }

    @media (max-width:430px) {
        height: 55px;

        img {
            max-width: 120px;
            max-height: 34px;
        }
    }

    @media (max-width:360px) {
        height: 55px;

        img {
            max-width: 100px;
            max-height: 30px;
        }
    }
}

.sixth-section {
    width: 100%;
    height: 563px;
    background: url(../image/all/hands.jpg) 50% 50% / cover no-repeat;
}

.community {}

.sixth-section__community {
    margin-top: 100px;
    @include flex-column-center();
}

.community__box {
    max-width: 1018px;
    @include flex-column-center();
    gap: 20px;
}

.community__title {
    color: #FFF;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;

    @media (max-width:800px) {
        font-size: 32px;
    }

    @media (max-width:500px) {
        font-size: 24px;
        line-height: 35px;
    }
}

.community__text {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    max-width: 761px;

    @media (max-width:800px) {
        font-size: 16px;
    }

    @media (max-width:500px) {
        font-size: 12px;
        line-height: 20px;
    }
}

.community__button-box {
    @media (max-width:400px) {
        width: 100%;
    }
}

.community__button {
    width: 317px;
    height: 70px;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 70px;

    @media (max-width:400px) {
        width: 100%;
        height: 55px;
        font-size: 16px;
        line-height: 20px;
    }
}

.events {}

.seventh-section__events {
    margin-top: 100px;
}

.events__title {
    margin-bottom: 35px;
}

.events__box {}

.events__list {
    display: grid;
    grid-template: repeat(1, auto)/repeat(3, 1fr);
    gap: 20px;

    @media (max-width:700px) {
        grid-template: repeat(3, auto)/repeat(1, auto);
    }
}

.events__item {
    position: relative;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.09);

    @media (max-width:700px) {
        display: grid;
        grid-template: repeat(1, auto)/repeat(1, 86px auto);
        height: 171px;
    }

    @media (max-width:330px) {
        height: 137px;
        grid-template: repeat(1, auto)/repeat(1, 68px auto);
    }
}

.events__image {
    img {
        border-radius: 10px 10px 0px 0px;
        width: 100%;
    }

    @media (max-width:700px) {
        img {
            width: 171px;
            height: 86px;
            transform: translateY(50%) translateX(-25%) rotate(-90deg);
        }
    }

    @media (max-width:330px) {
        img {
            width: 137px;
            height: 68px;
            transform: translateY(50%) translateX(-25%) rotate(-90deg);
        }
    }
}

.events__bogy {
    padding: 20px 10px 0px 30px;

    @media (max-width:800px) {
        padding: 20px 10px 0px 20px;
    }

    @media (max-width:330px) {
        padding: 10px 10px 20px 10px;
    }
}

.events__item-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    margin-bottom: 10px;

    @media (max-width:800px) {
        font-size: 14px;
    }

    @media (max-width:700px) {
        font-size: 12px;
        margin-bottom: 5px;
        line-height: 19px;
    }
}

.events__item-text {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 85px;

    @media (max-width:800px) {
        font-size: 12px;
        margin-bottom: 70px;
    }

    @media (max-width:700px) {
        margin-bottom: 20px;
        font-size: 10px;
        line-height: 18px;
    }
}

.events__item-date {
    position: absolute;
    left: 30px;
    bottom: 25px;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;

    @media (max-width:800px) {
        font-size: 10px;
        left: 10px;
        bottom: 10px;
    }

    @media (max-width:700px) {
        left: 106px;
        bottom: 10px;
    }

    @media (max-width:330px) {
        left: 78px;
        bottom: 5px;
    }
}

.eighth-section {
    height: 500px;
}