body {
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  color: #000000;
  font-weight: 400;
  line-height: 80px;
  overflow-x: hidden;
}

.body-not-scroll {
  overflow: hidden;
}

h2 {
  color: #1178B2;
  font-size: 36px;
  font-weight: 700;
}
@media (max-width: 900px) {
  h2 {
    text-align: center;
    font-size: 32px;
  }
}

.autorisation {
  position: absolute;
  visibility: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: #FFF;
  z-index: 300;
  border-radius: 5px;
  width: 320px;
  height: 273px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.autorisation__close {
  background: url(../image/autorisation/autorisation.svg);
  position: absolute;
  top: -26px;
  right: 0;
  width: 19px;
  height: 19px;
}

.autorisation--open {
  visibility: visible;
}

.autorisation__title {
  font-weight: 600;
  text-align: center;
}

.autorisation__input-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -7px;
}

.autorisation__input {
  border-radius: 5px;
  background: #F1F1F1;
  width: 260px;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 21px;
}
.autorisation__input::-moz-placeholder {
  background: #F1F1F1;
  color: #707070;
  font-size: 14px;
}
.autorisation__input::placeholder {
  background: #F1F1F1;
  color: #707070;
  font-size: 14px;
}

.autorisation__button {
  border-radius: 5px;
  width: 260px;
  height: 40px;
  background-color: #07AF91;
}

.autorisation__register {
  display: block;
  text-decoration: underline;
  font-weight: 500;
  color: #07AF91;
  font-size: 12px;
  text-align: center;
  line-height: 12px;
  margin-top: 14px;
  margin-bottom: 38px;
}

.header {
  background: url(../image/header/header.jpg) 60% 50%/cover no-repeat;
  width: 100%;
  height: 900px;
  position: relative;
}
@media (max-width: 770px) {
  .header {
    height: 1140px;
  }
}
@media (max-width: 520px) {
  .header {
    height: 720px;
  }
}

.burger {
  visibility: hidden;
  display: none;
  background: url(../image/header/burger-close.svg) 50% 50% no-repeat;
  transition: all 0.2s;
  position: fixed;
  right: 20px;
  border: 1px solid #07AF91;
  z-index: 1;
}
@media (max-width: 760px) {
  .burger {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    visibility: visible;
    display: block;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  .burger:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  }
}

.burger--open {
  background: url(../image/header/burger-open.svg) 50% 50% no-repeat;
  background-color: white;
  z-index: 30;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(30, 27, 27, 0.35);
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.overlay--open {
  visibility: visible;
  opacity: 1;
}

.header__background {
  background-color: rgba(0, 0, 0, 0.59);
  width: 100%;
  height: 100%;
}

.wrap {
  max-width: 1216px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}
.logo span {
  color: #00B1E9;
}
@media (max-width: 900px) {
  .logo {
    font-size: 20px;
  }
}
@media (max-width: 520px) {
  .logo {
    font-size: 16px;
  }
}

.menu {
  display: flex;
  gap: 50px;
}
@media (max-width: 900px) {
  .menu {
    gap: 34px;
  }
}

@media (max-width: 760px) {
  .header__menu-list {
    background-color: #07AF91;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    gap: 0;
    padding: 68px 100px;
    z-index: 20;
    transform: translateY(-100%);
    transition: all 0.3s;
  }
}

@media (max-width: 760px) {
  .header__menu-list--open {
    transform: translateY(0%);
    position: fixed;
  }
}

@media (max-width: 760px) {
  .header__menu-item {
    white-space: nowrap;
    width: 250px;
    text-align: center;
  }
  .header__menu-item:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.52);
  }
}

.menu__item {
  color: white;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
@media (max-width: 910px) {
  .menu__item {
    font-size: 16px;
  }
}

.button {
  display: block;
  color: #FFF;
  font-weight: 500;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
}
.button:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.button--gradient-blue {
  background: linear-gradient(321deg, #016CA8 0%, #61B5E4 100%);
}
.button--gradient-blue:hover {
  background: linear-gradient(321deg, #016CA8 0%, #016CA8 100%);
}

.header__body {
  max-width: 780px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 30%;
}
@media (max-width: 768px) {
  .header__body {
    left: 0px;
    padding: 0 30px;
    right: 0;
  }
}

.header__body-title {
  color: #FFF;
  font-size: 43px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 60px;
  white-space: nowrap;
}
.header__body-title span {
  background-color: #07AF91;
  padding: 0 11px;
  border-radius: 3px;
  margin-left: -11px;
}
.header__body-title .header__body-title-hidden {
  padding: 0;
  margin: 0;
}
@media (max-width: 800px) {
  .header__body-title {
    font-size: 36px;
    white-space: normal;
  }
}
@media (max-width: 768px) {
  .header__body-title {
    text-align: center;
  }
  .header__body-title .header__body-title-hidden {
    visibility: hidden;
    display: none;
  }
}
@media (max-width: 520px) {
  .header__body-title {
    font-size: 24px;
    line-height: 40px;
    margin: 0 -13px;
  }
}

.header__body-text {
  color: white;
  font-size: 34px;
  font-weight: 300;
}
@media (max-width: 800px) {
  .header__body-text {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .header__body-text {
    text-align: center;
  }
}
@media (max-width: 520px) {
  .header__body-text {
    font-size: 16px;
    line-height: 31px;
  }
}

.header__top-button-box {
  display: flex;
  gap: 10px;
  align-items: center;
}
@media (max-width: 760px) {
  .header__top-button-box {
    margin-right: 50px;
  }
}

.header__top-button {
  width: 150px;
  height: 55px;
  font-size: 18px;
}
@media (max-width: 900px) {
  .header__top-button {
    border-radius: 5px;
    font-size: 16px;
    width: 109px;
    height: 46px;
  }
}
@media (max-width: 760px) {
  .header__top-button {
    width: 88px;
    height: 40px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .header__body-text--desktop {
    visibility: hidden;
    display: none;
  }
}

.header__body-text--mobile {
  visibility: hidden;
  display: none;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .header__body-text--mobile {
    visibility: visible;
    display: inline;
    text-align: center;
  }
}

.header__body-text--decoration {
  line-height: 30px;
  border-radius: 3px;
  background-color: #FFF;
  width: 102px;
  color: #07AF91;
  padding: 0 5px;
  font-weight: bold;
  padding: 5px;
}

.header__body-button-box {
  display: flex;
}
@media (max-width: 768px) {
  .header__body-button-box {
    justify-content: center;
  }
}

.header__body-button {
  width: 219px;
  height: 80px;
  font-size: 20px;
  font-weight: 600;
}
@media (max-width: 768px) {
  .header__body-button {
    font-size: 18px;
    width: 235px;
    height: 71px;
  }
}
@media (max-width: 520px) {
  .header__body-button {
    width: 235px;
    height: 55px;
    font-size: 16px;
  }
}

.button--green {
  background: #07AF91;
}

.white-section {
  background-color: white;
}

.first-section__services {
  margin-top: 89px;
}

.services__title {
  margin-bottom: 110px;
}
@media (max-width: 900px) {
  .services__title {
    margin-bottom: 30px;
  }
}

.services__block-content {
  max-width: 674px;
}
@media (max-width: 900px) {
  .services__block-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.services__subtitle {
  color: #1178B2;
  white-space: nowrap;
  font-size: 24px;
  font-family: Inter;
  font-weight: 600;
}
@media (max-width: 900px) {
  .services__subtitle {
    font-size: 18px;
  }
}

.services__text {
  font-size: 20px;
  font-weight: 300;
  line-height: 150%;
  margin-bottom: 20px;
}
@media (max-width: 900px) {
  .services__text {
    font-size: 16px;
  }
}

.services__block-analytics {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  margin-bottom: 184px;
  align-items: center;
}
@media (max-width: 900px) {
  .services__block-analytics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    gap: 20px;
  }
  .services__block-analytics .services__block-content {
    order: 2;
  }
  .services__block-analytics .services__block-image {
    order: 1;
  }
}

.services__block-online {
  display: flex;
  gap: 30px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 100px;
}
.services__block-online .services__block-content {
  max-width: 604px;
}
@media (max-width: 900px) {
  .services__block-online {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.services__button {
  width: 326px;
  height: 70px;
}

@media (max-width: 900px) {
  .services__block-image img {
    width: 386px;
    height: auto;
  }
}

.first-section__customers {
  margin-bottom: 100px;
}

.customers__title {
  margin-bottom: 35px;
}

.customers__block {
  display: grid;
  grid-template: repeat(1, auto)/repeat(3, 1fr);
  gap: 20px;
}
@media (max-width: 900px) {
  .customers__block {
    grid-template: repeat(2, auto)/repeat(2, minmax(250px, 1fr));
  }
}
.customers__block-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: white;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.09);
  padding: 70px 25px 25px 30px;
}
@media (max-width: 900px) {
  .customers__block-item:nth-child(3) {
    grid-column: span 2;
  }
  .customers__block-item:nth-child(3) .customers__item-subtitle {
    width: 396px;
  }
}

.customers__item-number {
  color: rgba(17, 120, 178, 0.5);
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
  line-height: 25%;
  margin-bottom: 40px;
}

.customers__item-title {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 15px;
}

.customers__item-subtitle {
  text-align: center;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
}
@media (max-width: 900px) {
  .customers__item-subtitle {
    font-size: 14px;
  }
}

.second-section {
  width: 100%;
  height: 1000px;
  background-color: #000000;
}/*# sourceMappingURL=style.css.map */